---
pagination:
  data: imagePosts
  size: 1
  alias: imagePost
permalink: "/posts/{{ imagePost.title | slugify }}/"
---

<a href="/">&larr; Back</a>
<hr>
<h2>{{ imagePost.title }}</h2>
<p>{{ imagePost.date | toLuxonDateTime | readableDate }}</p>
<img src="{{ imagePost.image }}" alt="{{ imagePost.title }}">
